// Specific CSS for your home-page
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.nav-link {
  font-size: 1.2em;
  font-family: "Source Sans Pro", sans-serif;
  color: #f1f6f9;
}
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}
body {
  background-color: #fff;
}
h4,
p {
  font-family: "Source Sans Pro", sans-serif;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  height: 4em;
  position: relative;
  padding: 0em 2em;
  color: #f1f6f9;
}
.nav-items {
  list-style: none;
  gap: 1em;
}

.logo {
  color: #f1f6f9;
}

.hero {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1605387201622-8ebb9be0a9ae?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fGJvYXR8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=800https://images.unsplash.com/photo-1605387201622-8ebb9be0a9ae?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940");
  background-size: cover;
  background-position: center;
}

.hero-text {
  color: #f1f6f9;
  padding-left: 1em;
}

// Boat container

.featured-boats {
  margin: 2em 2em;
  gap: 1em;
}

.card {
  background-color: #f1f6f9;
  border-style: none;
  border-radius: 11px;
  width: 300px;
  height: 450px;

  .card-body {
    color: #0e2433;
  }

  img {
    width: auto;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
  }
}
