<div class="container"></div>
  <div class="navbar">
  <p class="logo">Coastal</p>
  <ul class ="d-flex nav-items">
    <li>about us</li>
    <li>Our best listings</li>
    <li>Sign up</li>
  </ul>
  </div>
  <div class="row d-flex hero">
  <h1>Your Luxury Sailing Vacation Starts Here</h1>
  </div>
</div>
