// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "boats/show";
@import "users/show";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: #0e2433;
}

.navbar-toggler {
  border-color: rgb(255, 255, 255);
}

.menu-icon {
  font-size: 1em;
}
.navbar-light {
  // color: rgba(0, 0, 0, 1);
  background-color: rgba(0, 56, 82, 1);
}

// .navbar.navbar-light .navbar-toggler .navbar-toggler-icon {
//   color: #fff;
// }

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
