<<<<<<< HEAD
<<<<<<< HEAD
<h1>Boats Index</h1>
=======
<h1>all boats</h1>
>>>>>>> 5a55ac265b2fabb07cba5f1d8f63fa9a407a8287
<%= @boats %>
=======

  <div class="col-sm-12 d-flex flex-wrap flex-gap-2">
    <% @boats.each  do |boat| %>
    <div class="card" style="width: 18rem;">
    <%=cl_image_tag boat.image.key, crop: :fill %>
    <div class="card-body">
    <h5 class="card-title"><%=boat.title%> </h5>
        <%= link_to "Learn more", boat_path(boat), class: 'btn btn-primary'%>
      </div>
    </div>
  <% end %>
<<<<<<< HEAD
  </div>
</div>
>>>>>>> 19227b21ebc62118828e880d2ad0b00665d74c39
=======
 </div>

>>>>>>> 467cb7114a1be4df5803e4f9a272901d7ef8a02b
