<div class="featured-boats">
  <div class="col-sm-12 d-flex flex-wrap flex-gap-2">
    <% @boats.each  do |boat| %>
      <a href="<%=boat_path(boat)%>">
        <div class="card" style="width: 18rem;">
          <%=cl_image_tag boat.image.key, crop: :fill %>
          <div class="card-body">
            <h3 class="card-title"><%=boat.title%> </h3>
            <p class="card-body"><%=  boat.description %></p>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
